<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ChatMex" name="RxServer.RxService">
        <endpoint address="http://locahost:9999/Chat/" binding="NetTcpBinding" contract="RxServer.IRxService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="http://localhost:9998/Chat/Mex" binding="mexHttpBinding" contract="IMetadataExchange" />        
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ChatMex">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>        
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>