<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ChatMex" name="RxServer.RXService">
        <endpoint address="net.tcp://localhost:9998/Mex" binding="mexTcpBinding"
          name="Mex" contract="IMetadataExchange" />
        <endpoint address="net.tcp://localhost:9999/Chat/" binding="netTcpBinding"
          name="TCP" contract="RxServer.IRxService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ChatMex">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>    
</system.serviceModel>
</configuration>